body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background: #f5f5f5;
  color: #000000;
}

a, a:hover, a:click, a:visited{
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  color: inherit !important;
}

@font-face {
  font-family: "Fira Code";
  src: url("FiraCode-Regular.ttf") format("truetype");
}